body {
  background-color: #ccd5ae;
}

#client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#headerContainer {
  width: 100%;
  display: flex;
  border-radius: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px;
  box-shadow:  5px 5px 10px #adb594,
              -5px -5px 10px #ebf5c8;
              
}

#header {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-radius: 16px 0px 0px 16px;

  /* margin-top: 16px; */
  /* margin-bottom: 16px; */
  padding-left: 16px;
  padding-right: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: #fefae0;
  
  /* background-color: green; */
}

#instructions {
  margin-bottom: 10px;
}

#title {
  font-family: monospace;
  font-size: 2rem;
  text-align: left;
  color: #7f5539;
  /* background-color: blue; */
  margin: 0px;
  margin-top: 10px;
}

p {
  font-size: 1rem;
  font-family: monospace;
  text-align: left;
  color: #7f5539;
  margin: 0px;
  /* background-color: red; */
}

#statsTitle {
  font-family: monospace;
  font-size: 1rem;
  text-align: right;
  color: #7f5539;
  /* background-color: blue; */
  margin: 0px
}

#codeDisplay {
  background-color: #ccd5ae;
  height: 100%;
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

#codeHeading {
  font-size: 3rem;
  text-align: center;
  font-family: monospace;
  color: #fefae0;
  margin: 0px;
}

#stats {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* margin-top: 16px;
  margin-bottom: 16px; */
  padding-left: 16px;
  padding-right: 24px;
  /* padding-top: 16px;
  padding-bottom: 16px; */
  border-radius: 0px 16px 16px 0px;
  background: #fefae0;
  /* background-color: green; */
}

.counterText {
}

.alignRight {
  text-align: right;
}


#everythingWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: 'trasparent';
}

#controller {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#controls {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#horizontalControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.controlButton {
  margin: 0.33rem;
  width: 6rem;
  height: 6rem;
  padding: 15px 25px;
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7f5539;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.controlButton:hover {background-color: #ad734c}

.controlButton:active {
  background-color: #533825;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#connectionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#connectionMessage {
  font-size: 1rem;
  font-weight: bold;
  color: #2d343a;
  font-family: sans-serif;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
}

#textSubmitWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /* border: none; */
  border: 1px solid #777;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
}

#submit {
  /* margin-left: 2rem;
  margin-right: 2rem; */
  padding: 15px 25px;
  font-size: 1rem;
  user-select: none;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7f5539;
  border: none;
  border-radius: 90px;
  margin-left: 1rem;
  font-weight: bold;
}

#submit:active {
  background-color: #472f1f;
}

canvas {
  /* display: none; */
  /* Add an inset box shadow to the canvas */
  border-radius: 50px;
  background: #fefae0;
  /* background: #ece9d2; */

  box-shadow:  5px 5px 10px #adb594,
             -5px -5px 10px #ebf5c8;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}